<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Vehicle Number</th>
            <th>Vehicle Type</th>
            <th>Vehicle Model</th>
            <th>Vehicle Description</th>    
            <th>Actions</th>      
        </tr>
        {% for i in list %}  
        <tr>
            <td>{{ i.Vehicle_number }}</td>                 
            <td>{{ i.Vehicle_type }}</td>  
            <td>{{ i.Vehicle_model }}</td>
            <td>{{ i.Vehicle_description }}</td>
            <td>
                &nbsp;&nbsp;
                <a href="/update/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                &nbsp;&nbsp;  
                <a href="/delete/{{ i.id }}">Delete</a>
                &nbsp;&nbsp;</td>
        </tr>
            {% endfor %}
    </table>
</body>
</html>
        

                  